<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="/assets/images/blood drops 3 groups.jpg" class="d-block w-100" alt="..." height="400" width="800">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/blood drops 2 cartoon.jpg" class="d-block w-100" alt="..." height="400" width="800">
    </div>
    
    <div class="carousel-item">
      <img src="/assets/images/blood donation 1.jpg" class="d-block w-100" alt="..."height="400" width="800">
    </div>  
    <div class="carousel-item active" >
      <img src="/assets/images/blood donation 2.jpg" class="d-block w-100" alt="..."height="400" width="800">
    </div>       
  </div>
</div>  
<div class='card'>
    <div class='card-header'>
     {{pageTitle}}
    </div>
    
    <div class='card-body'>         
      <div class='table-responsive'>
        <table class='table bg-pic'
              *ngIf = 'donors && donors.length'>
          <thead>
            <tr>
              <th>
                <button class='btn btn-primary'
                (click)='toggleImage()'>
                  {{showImage? 'Hide' : 'Show'}} Image
                </button>
              </th>
              <th>Donor</th>
              <th>Code</th>
              <th>Last Donated</th>
              <th>Phone</th>
              <th>Blood Group</th>
              
            </tr>
           
          </thead>
          <tbody>  
              <tr *ngFor='let donor of donors'>
                  <td><img *ngIf='showImage'
                    [src] = 'donor.imageUrl' 
                    [title] = 'donor.donorName'
                    [style.width.px] = 'imageWidth' 
                    [style.margin.px] = 'imageMargin'></td>
                  <td>{{ donor.donorName|uppercase }}</td>
                  <td>{{ donor.donorCode }}</td>
                  <td>{{ donor.lastdonatedDate }}</td>
                  <td>{{ donor.phone }}</td>
                  <td>{{ donor.bloodgroup }}</td>
                  <td>
                    <button class="btn btn-info" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="profileDonor(donor)" style="margin-left: 20px;"> Profile</button>
                  </td>
                  <td>
                    <button class="btn btn-warning" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="editDonor(donor)" style="margin-left: 20px;"> Edit</button>
                  </td>
                  <td>
                    <button class="btn btn-danger" style="cursor:pointer" *ngIf="_auth.loggedIn()"(click)="deleteDonor(donor)"> Delete</button>
                  </td>
                </tr>              
          </tbody>
        </table>
      </div>
    </div>
 